<br>
<br>
<div class="container">
<div class="row">
  <div class="twelve columns">
    <div class="info">
      <span class="no-print">
	<a href="{{ site.baseurl }}/about.html">ABOUT</a><br>
    <!-- <a href="https://www.instagram.com/_escolar_/">INSTAGRAM</a>
	 <br>
	 <a href="mailto:psychic.indigestion@gmail.com">QUESTIONS?</a> -->
    <!-- <br><a href="https://escolar.international/feed.xml">RSS</a> -->
	412 W. St. Elmo St.<br>
	Austin, Texas
	<br>78745
      </span>
      <br>&copy; <!-- 2018 -  -->{{ site.time | date: '%Y' }}
    </div>
    <br>
  </div>
</div>

</div>

</body>
</html>

