$print-font-size: 12pt;
$primary-color: #333;

@media print {
    .no-print, .no-print * {
	display: none !important;
    }
    
    html {
	font-size: $print-font-size * 1.2;
	line-height: $print-font-size * 1.4;
    }
    .medium {
	font-size: $print-font-size;

    }
    .jumbo {
	font-size: $print-font-size * 3;
	line-height: $print-font-size * 3;
    }
    .fixed {
	
	display: none;
    }

    .content {
	p {
	    font-size: $print-font-size;
	    line-height: $print-font-size * 1.3;
	    font-feature-settings: "kern" 1;
	    font-kerning: normal;
	    text-justify: inter-word;
	}
	h2 {
	    font-size: $print-font-size * 1.3;
	    font-weight: 500;
	    display: inline;
	    line-height: $print-font-size;
	    margin-bottom: 0px;
	}
    }

    /* .container {
       margin-left: 1.5cm;
       margin-right:4cm;
       } */
}

@page {
    margin-left: 3cm;
    margin-right: 6cm;
    margin-top: 3cm;
    margin-bottom: 1.5cm;
}
@page :first {margin-top: 1.5cm;}
