@media screen {
    .flex-wrapper {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: flexbox;
        display: -moz-flex;
        display: -o-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
}

#canvas {
        height: 80vh;
        width: 100vw;

        z-index: 10;
}

.multi-textures {
        position: absolute;
        top: 5%;
        right: 5%;
        bottom: 5%;
        left: 5%;
        z-index: 15;

        cursor: pointer;
        font-size: 3em;
        color: white;

        justify-content: center;
        align-items: center;
        align-content: center;

 }

.multi-textures img {
        display: none;
        min-width: 100%;
        min-height: 100%;
        object-fit: scale-down;
	overflow: hidden;
}
}


