{% include header.html %}
<div class="container">
<div class="row">

  <div class="three columns">
    <div class=info>
      {{ page.event_type }}:
    </div>
  </div>
</div>
<div class="row">
  <div class="offset-by-one ten columns">
       <div class="medium">

       </div>
       <div class="content">
	 {{ content }}
       </div>
       <br>
       <!-- <div class="info">
	    Contact:
	    <a href="mailto:{{ page.email }}">Email</a>
	    or 
	    <a href="{{ page.instagram }}">Instagram</a>
	    </div> -->
  </div>

</div>
</div>
<br>

{% include footer.html %}
