{% include header.html %}

<!-- <div class="container" style="padding-top: 17vw;"> -->
<div class="container">
  <br>
  {% for post in site.posts reversed limit:2 %}
  <div class="row">
    <div class="three columns">
      <div class="info">
     	{{ post.event_type }}:
      </div>
    </div>
  </div>
  <div class="row">
    <div class="offset-by-one ten columns">
    <a href="{{ post.url }}">
      <div class="artist-font">
	{% if post.artist_name == empty %}
	{{ post.show_title }}
	{% else %}
	{{ post.artist_name }}
	{% endif %}
      </div>
      <div class="show">
	{% if post.artist_name == empty %}
	{% else %}
	{% if post.show_title == empty %}
	{% else %}
	{{ post.show_title }}
	{% endif %}
	{% endif %}
      </div>
      </a>
      <div class="info">
      {% if post.time == empty %}
      {{ post.start_date }}
      {% else %}
      {{ post.start_date }}. {{ post.time }}
      {% endif %}
      <br>
      {% if post.address == empty %}
      {% else %}
      <a href="{{ post.map_link }}">
	{{ post.address }}
      </a>
      <br>
      {% endif %}
      {{ post.hours }}
      </div>
    </div>
  </div>

  
  <br>

  {% endfor %}
</div>
{% include footer.html %}
